/node_modules
/public/storage
/public/uploads
/storage/*.key
/storage/
/vendor
/.idea
/.vscode
/.vagrant
public/css/app.*
public/js/app.*
public/js/manifest.js
public/js/vendor.js
public/mix-manifest.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage
.sass-cache
run.sh
.env
.env_bck
.env_prod
.env.dev
deployProd.php
deploy.php
deployDev.php
#public/js/global.js
./reports
.env.testing
meters.xlsx 2.cpgz